body {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.the-header, .footer {
    width: 30%;
    margin-left: 10%;
    background-color: white;
    margin-right: 20%;
    text-align: center;
}

img {
    margin-left: 3%;
}

.heading {
    margin-left: 5%;
}

.what {
    width: 30%;
    margin-left: 10%;
    margin-right: 20%;
    text-align: center;
}

.horiz-line {
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
    border: solid 1px black;
    
}

.second-heading {
    margin-top: 2%;
}

.birthday {
    width: 15%;
    margin-left: 0;
}

.event {
    display: inline-block;
}

  .box {
    display: inline-block;
    width: 300px;
    height: 250px;
    background-color: white;
    text-align: center;
    margin-right: 10px;
    font-size: 100%;
    vertical-align: top;
    transform: translateX(160px);
  }

 .footer {
    margin-top: 20px;
 }