body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 180vh;
    min-height: calc(100vh-50px);
}

.header, .date-and-time {
    width: 15%;
    /* background-color: blueviolet; */
    margin-left: 20%;
    margin-right: 15%;
    text-align: center;
    margin-top: 2%;
}

.date-and-time {
    margin-top: 0%;
}

.division {
    border: 2px solid black;
    width: 40%;
    margin-left: 7%;
    margin-right: 7%;
    
}

.footer {
    margin-left: 23%;
}

.events-container {
    display: flex;
    margin-left: 10%;
    margin-right: 15%;
    margin-top: 4%;
}

.mylist {
    line-height: 200%;
    margin-left: -11%;
}

.event {
    padding-right: 10%;
}

.section-props {
    width: 17%;
    
}